<button
  type="button"
  class="bg-customBlack font-medium text-base text-white50 px-6 py-4 cursor-pointer rounded-xl shadow hover:text-white70 hover:bg-customBlack/80 transition-all duration-300 w-fit flex items-center gap-2"
>
  <slot />
</button>
